.jumbotron {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 460px;
  background-size: auto;
  background-position: center;
  .container_large {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


  .download {
    display: flex;
    flex-direction: column;
    width: 35%;
    color: white;
    margin-top: 50px;
    h3 {
      margin-bottom: 20px;
      font-size: 27px;
      font-weight: 500;
    }
    p {
      margin-bottom: 30px;
    }
    ul{
      li{
        padding: 10px;
        list-style: none;
        &::before{
          content: ">";
          margin-right: 8px;
          color: grey;
          font-weight: bolder;

        }
      }
    }
    .btn-download {
      width: 220px;
      margin-top: 20px;
      padding: 9px;
      display: flex;
      background-color: #666666;
      border: 1px solid #666666;
      color: #fff;
      &:hover {
      background-color: #5c5c5a;
      cursor: pointer;
      }
      .btn-inside-left {
        margin-right: 10px;
      }
    i {
      margin-left: 20px;
      font-size: 35px;
    }
    }
  }

  .buy {
    width: 30%;
    height: 400px;
    background-color: black;
    margin-left: 100px;
    margin-top: 30px;
    color: #fff;

  .price_and_stamp {
    width: 100%;
    display: flex;

    .price {
      margin-top: 30px;
      padding: 20px;
        h2{
          margin-bottom: 10px;
        }
    }

    img {
      display: flex;
      width: 120px;
      height: 120px;
      margin-left: auto;
      padding: 10px;
      }
    }

    button {
      color: #fff;
      background-color: #009cff;
      border: none;
      font-size: 16px;
      margin-left: 20px;
      padding: 8px 40px;
      margin-bottom: 50px;
      &:hover {
        background-color: #28acff;
      }
    }
    .offert {
      border-radius: 2px;
      width: 90%;
      margin: auto;
      background-color: #e6e6e6;
      padding: 10px;
      h3 {
        color: #000;
        font-weight: 400;
        margin-bottom: 8px;
      }

      p {
        color: #333333;
        margin-bottom: 8px;
      }

      a {
        text-decoration: none;
        color: #32beeb;
        &:hover {
          text-decoration: underline;
        }
      }

    }


  }
} //container large
} //jumbotron

.navigation-overview {
  width: 100%;
  height: 70px;
  background-color: #e6e6e6;
  .container_medium{
    ul {
      display: flex;
      list-style: none;
      justify-content:flex-start;

      li {
        display: flex;
        padding: 25px;
        cursor: pointer;
        &:hover{
          background-color: #eeeeee;
        }
        &:first-child {
          padding-bottom: 20px;
          background-color: #fff;
          border-bottom: 5px solid #000;
          cursor: default;
        }
      }
    }


  }
}

.overview {
    position: relative;
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 887px;
    margin-bottom: 200px;
    background-size: cover;
    background-position: center;
    .container_small{
    .overview_info {
      display: flex;
      flex-direction: column;
      color: #fff;
      justify-content: center;
      text-align: center;
      padding-top: 150px;
      h3 {
        font-size: 30px;
        font-weight: 450;
        margin-bottom: 20px;
      }
      p {
        line-height: 2;
        font-size: 17px;
      }
      a {
        margin-top: 40px;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        margin-bottom: 38px;
        i {
          color: #868686;
          padding: 10px;
          margin-right: 10px;
          border-radius: 50%;
          border: 1px solid #868686;

        }
      }

      .tablet {
        position: relative;
        .overview_img {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 9;
        }
        .inside_img {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 1;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
    }
    }

  }
