.jumbotron {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-repeat: no-repeat;
  height: 460px;
  background-size: auto;
  background-position: center;

}
