.jumbotron {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 460px;
  background-size: auto;
  background-position: center;
  .container_large {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


  .download {
    display: flex;
    flex-direction: column;
    width: 35%;
    color: white;
    margin-top: 50px;
    h3 {
      margin-bottom: 20px;
      font-size: 27px;
      font-weight: 500;
    }
    p {
      margin-bottom: 30px;
    }
    ul{
      li{
        padding: 10px;
        list-style: none;
        &::before{
          content: ">";
          margin-right: 8px;
          color: grey;
          font-weight: bolder;

        }
      }
    }
    .btn-download {
      width: 220px;
      margin-top: 20px;
      padding: 9px;
      display: flex;
      background-color: #666666;
      border: 1px solid #666666;
      color: #fff;
      &:hover {
      background-color: #5c5c5a;
      cursor: pointer;
      }
      .btn-inside-left {
        margin-right: 10px;
      }
    i {
      margin-left: 20px;
      font-size: 35px;
    }
    }
  }

  .buy {
    width: 30%;
    height: 400px;
    background-color: black;
    margin-left: 100px;
    margin-top: 30px;
    color: #fff;

  .price_and_stamp {
    width: 100%;
    display: flex;

    .price {
      margin-top: 30px;
      padding: 20px;
        h2{
          margin-bottom: 10px;
        }
    }

    img {
      display: flex;
      width: 120px;
      height: 120px;
      margin-left: auto;
      padding: 10px;
      }
    }

    button {
      color: #fff;
      background-color: #009cff;
      border: none;
      font-size: 16px;
      margin-left: 20px;
      padding: 8px 40px;
      margin-bottom: 50px;
      &:hover {
        background-color: #28acff;
      }
    }
    .offert {
      border-radius: 2px;
      width: 90%;
      margin: auto;
      background-color: #e6e6e6;
      padding: 10px;
      h3 {
        color: #000;
        font-weight: 400;
        margin-bottom: 8px;
      }

      p {
        color: #333333;
        margin-bottom: 8px;
      }

      a {
        text-decoration: none;
        color: #32beeb;
        &:hover {
          text-decoration: underline;
        }
      }

    }


  }
} //container large
} //jumbotron
